@charset "utf-8";
/* CSS Document */

          body {
            background-color: #F2F7FC;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .top-images {
            display: flex;
            justify-content: space-between;
            width: 80%;
            margin-top: 50px;
            position: relative;
        }
        .top-image-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 45%;
        }
        .top-image {
            width: 100%;
            height: 200px;
            background-color: lightgray;
            opacity: 0;
            transform: translateX(-20px);
            transition: all 1s ease-out;
        }
        .top-image.right {
            transform: translateX(20px);
        }
        .bottom-images {
            display: flex;
            justify-content: space-between;
            width: 80%;
            margin-top: 50px;
            text-align: center;
        }
        .bottom-image-container {
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .bottom-title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .bottom-image {
            width: 100%;
            height: 200px;
            background-color: gray;
            position: relative;
            text-align: center;
            color: white;
            font-size: 20px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
        }
        .bottom-image:hover {
            opacity: 0.8;
        }

		.footer { 
	     
			  width: 100%;
			height: 50px;
			background-color: gray;
			 position: sticky;
			bottom: 0;
			
		}
